//Card.jsx
#cardMainBg {
  display: flex;
  justify-content: center;
  background: url('../../images/img_bg_main.png') no-repeat;
  width:100%;
  height:50rem;
  margin:0;
  padding:0;
}

//CardSection.jsx
#cardSection {
  padding:1rem 1rem;
  width:116rem;
  height:32rem;

    .cardWrap {
      display:flex;
      justify-content:flex-start;

        li {
          display:inline-block;
          width:26rem;
          height:32rem;
          border-radius: 2rem;
          background-color: var(--grayType2);
          margin:10px;
          padding:7rem 1rem 1rem 1rem;
          text-align: center;

            svg{
              position:relative;
              top:2px;
              left:10px;
            }
          
           

            h2 {
              font-size:5rem;
              font-weight:800;
              color:var(--grayType6);
              letter-spacing: -1px;
            }

            p {
              font-size:1.6rem;
              font-weight: bold;
              letter-spacing: -1px;
            }

        }

        .currentCard {
          background-color: var(--mainRed);

          &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition: all 0.4s;
          }
         
            h2 {
              color:var(--white);
            }
          
            p {
              font-size:1.6rem;
              color:var(--white);
            }
        }
    }

}

//LandingListTb
.listWrap {
  display:flex;
  width:110rem;
  height:27rem;
  padding:2rem;
  background-color:var(--white);
  position:relative;
  top:-6.8rem;
  left:50%;
  transform:translateX(-50%);
}


//LandingListTb.jsx
#cardBox {
  width:54rem;
  padding:0;
  //border-right:1px solid var(--grayType7);

    .cardCont {
      display: flex;
    

        .date {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width:8rem;
          height:8rem;
          background: var(--mainRed);

            .mainDate {
              font-size: 2.8rem;
              font-weight: 800;
              color: var(--white);
            }

            .mainMmyy {
              color:var(--white);
              font-size: 1.3rem;
            }
        }
        
    }

    .txtCont {
      padding: 2rem 2rem 1.5rem 2.4rem;

        li:first-child {
          font-size:1.6rem;
          font-weight: bold;
          letter-spacing: -1px;
        }
        li:last-child {
          font-size:1.4rem;
          display:inline-block;
          
            a {
              overflow:hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
        }
    }

    .detailCont {
      
        ul {
          justify-content: space-between;
          padding:1.7rem 2rem 0 0;

            li {
              position: relative;
              display:block;
              width:100%;
              color: var(--grayType6);
              font-size:1.4rem;
              letter-spacing: -1px;
              border-bottom:1px solid var(--grayType2);
              line-height:3rem;
              padding:0 2rem 0 2rem;

                a {
                  display: flex;
                  justify-content: space-between;
                }

                  .index::before {
                    content:'';
                    display:block;
                    position:relative;
                    top:18px;
                    left:-10px;
                    width:3px;
                    height:3px;
                    border-radius: 50px;
                    background-color:var(--grayType6);
                  }
                
            }
        }

    }
  
}
