@font-face {
  font-family: "pretendad";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/Pretendard-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "pretendad";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
} 
@font-face {
  font-family: "pretendad";
  font-weight: 700;
  font-style: normal;
  src:url("../../fonts/Pretendard-Medium.woff2") format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "pretendad";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-display: swap;
} 
