:root {
  --mainfont-pretendard: "pretendad";
  // --mainfont-nexon: "nexonLv1";

  --black: #000;
  --mainBg :#FCFCF8;
  --mainRed:#EA002C;
  --orange:#F47725;
  
  --white: #fff;
  --grayType2:#f0f0f0;
  --grayType3:#F1F1F1;
  --grayType4:#E1E1E1;
  --grayType5:#ECECEC;
  --grayc3:#C3C3C3;

  
  // 폰트 셋팅
  font-family: var(--mainfont-pretendard);
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  
  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // @media (max-width: 800px) {
  //     font-size: 1.4rem;
  //     line-height: 1.4;
  // }
}
